body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f0f4f8;
}

.header-top {
  background-color: white;
  padding: 15px 30px;
  border-bottom: 1px solid #e0e0e0;
}

.brand-area {
  display: flex;
  align-items: center;
}

.site-logo {
  height: 100px;
  margin-right: 15px;
}

@media (max-width: 390px) {
  .site-logo {
  height: 80px;
  margin-right: 15px;
  }
}

@media (max-width: 540px) {
  .site-logo {
  height: 100px;
  margin-right: 15px;
  }
}

@media (max-width: 1024px) {
  .site-logo {
  height: 100px;
  margin-right: 15px;
  }
}

@media (max-width: 1280px) {
  .site-logo {
  height: 100px;
  margin-right: 15px;
  }
}

.brand-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0077cc;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

@media (max-width: 576px) {
  .search-bar {
    margin-top: 10px;
    width: 100%;
  }

  .brand-name {
    font-size: 1.4rem;
  }
}
