# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# Envs and secrets
.env
*.env

# VSCode or IDE
.vscode/
.idea/

# Docker
*.pid
*.sock
docker-compose.override.yml
